services:
  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    volumes:
      - /home/lyoussef/data/mariadb:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    build: requirements/wordpress/.
    container_name: wordpress
    volumes:
      - /home/lyoussef/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    restart: always

  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "443:443"
    volumes:
       - /home/lyoussef/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    env_file:
      - .env
    restart: always

networks:
  inception:
    driver: bridge

# basically if i put the bridge here i let them communicate using names and not ips
# but need to add networks in each container on it own