services:
  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    build: requirements/wordpress/.
    container_name: wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    restart: always

  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "443:443"
    volumes:
       - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    env_file:
      - .env
    restart: always

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wordpress

networks:
  inception:
    driver: bridge

# basically if i put the bridge here i let them communicate using names and not ips
# but need to add networks in each container on it own