services:
  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    build: requirements/wordpress/.
    container_name: wp-php
    volumes:
      - wp-files:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    restart: always

  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wp-files:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    env_file:
      - .env
    restart: always

networks:
  inception:
    driver: bridge

volumes:
  wp-files:
  db-data: