[server] # here for standard structure

[mysqld]
user = root # who runs the database
datadir = /var/lib/mysql # where the db is stored
tmpdir = /tmp # tmp storage for wueries and sorting
 
[galera]
bind-address = 0.0.0.0 # which interfaces to listen on (here all)